.text-important {
  color: #3185da;
  font-weight: bold;
}
.text-blod {
  font-weight: bold;
}
.text-danger {
  color: #e4541b;
}
.text-success {
  color: #16a016;
}
.text-warning {
  color: #c99b1d;
}
.text-secondary {
  color: #888888;
}
.text-center {
  text-align: center;
}