<!DOCTYPE html>
<html>

<head>
  <title>校园铃声自动播放系统</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="./lib/element/index.css">
  <link rel="stylesheet" href="./lib/FontAwesome/css/font-awesome.css">
  <link rel="stylesheet" href="./lib/happy-scroll/happy-scroll.css">
  <link rel="stylesheet" href="./lib/pagewalkthrough/css/jquery.pagewalkthrough.css">
  <link rel="stylesheet" href="./lib/flipcountdown/jquery.flipcountdown.css">
  <link rel="stylesheet" href="./assets/css/main.min.css">
  <script>
    if(typeof require == 'undefined') {
      window.onload = function(){
        document.getElementById('global-error-info').setAttribute('style', '');
        document.getElementById('global-error-info-text').innerHTML = '本应用不能在浏览器中运行!<br/>App must run in Electron';
      }
      throw Error('本应用不能在浏览器中运行!');
    }
    window.$ = window.jQuery = require('jquery');
  </script>
  <script src="./lib/vue/vue.js"></script>
  <script src="./lib/element/index.js"></script>
  <script src="./lib/happy-scroll/happy-scroll.min.js"></script>
  <script src="./lib/pagewalkthrough/js/jquery.pagewalkthrough.min.js"></script>
  <script src="./lib/flipcountdown/jquery.flipcountdown.js"></script>
  <script src="./assets/js/utils.js"></script>
  <script src="./assets/js/dateutils.js"></script>
  <script src="./assets/js/workerutils.js"></script>
  <script src="./render.js"></script>
</head>

<body>
  <div class="window">
    <!--窗口拖动-->
    <div class="header">
      <div class="left-drag"></div>
      <div class="right-drag"></div>
    </div>
    <!--进入遮罩-->
    <div id="intro" class="intro">
      <img src="./assets/images/logo.ico" />
      <h3>校园铃声自动播放系统</h3>
    </div>
    <!--错误区域-->
    <div class="error-area" id="global-error-info" style="display:none">
      <i class="erricon fa fa-exclamation-triangle" aria-hidden="true"></i>
      <span id="global-error-info-text" class="text-secondary mb-3">程序发生了一个错误，
        请尝试 <a href="javascript:;" onclick="location.reload(true)">重载程序</a>  或 <a href="#" onclick="alert('错误已提交！我们将尽快解决此问题。');location.reload(true)">向我们反馈错误报告</a> </span>
    </div>
    <div id="app">
      <div class="app-background0"></div>
      <div class="app-background" :style="getAppBackgroundPath()"> </div>
      <!--标题栏按钮-->
      <div class="window-title-bar light">
        <div class="window-controls-container">
          <div class="window-icon-bg" @click="minWindow" title="最小化">
            <div class="window-icon window-minimize"></div>
          </div>
          <!--
          <div class="window-icon-bg" @click="maxRestoreWindow" :title="isMax ? '还原' : '最大化'">
            <div :class="'window-icon window-max-restore ' + (isMax ? 'window-unmaximize' : 'window-maximize')"></div>
          </div>-->
          <div class="window-icon-bg window-close-bg" @click="closeWindow" title="关闭">
            <div class="window-icon window-close"></div>
          </div>
        </div>
      </div>
      <!--锁屏界面-->
      <div :class="'lock-area' + (systemLocked ? ' show' : '')" 
        :style="getAppBackgroundPath()"> 
        <div :class="'login-area' + (getAppBackground()?' hasBackground':'')">
          <div class="login">
            <h3>登录系统</h3>
            <div class="info-box">
              <h5 class="m-0" id="login-app-title">校园铃声自动播放系统</h5>
              <h5 class="m-0 mb-1" v-if="appSettings">{{ appSettings.lockedNote }}</h5>
            </div>
            <div class="password-box">
              <input placeholder="请输入密码" type="password" v-model="systemLockEnterPassword" @keyup="loginInputKeyDown($event)"></input>
              <el-button class="mt-4" type="primary" @click="doLogin" round>登录系统</el-button>
            </div>
          </div>
          <div class="ver-text">
            Version {{ appVesrsion }} {{ appBuildDate }} <br>
            <i class="fa fa-copyright mr-2" aria-hidden="true"></i>2019 BY 梦欤
          </div>
        </div>
        <!--侧栏-->
        <div class="side-area">
          <div class="side-icon icon-main"></div>
          <ul class="side-list">
            <el-tooltip class="item" effect="dark" content="登录帮助" placement="right">
              <li class="icon icon-side-help" @click="showLoginHelpDialog=true" style="position: absolute; bottom: 20px;"></li>
            </el-tooltip>
          </ul>
        </div>
      </div>
      <!--侧栏时令区-->
      <div id="side_area" class="side-area">
        <div class="side-icon icon-main"></div>
        <ul class="side-list">
          <!--关于-->
          <el-popover
            placement="right"
            width="200"
            trigger="click">

            <div class="p-3 text-center">
              <h5 class="mt-0 mb-2">校园铃声自动播放系统</h5>
              Version {{ appVesrsion }} {{ appBuildDate }} <br>
              <i class="fa fa-copyright mr-2" aria-hidden="true"></i>2019 BY 梦欤<br>
              <a href="javascript:;" class="mt-2" @click="editSetings('about')">关于程序</a>
            </div>

            <li slot="reference" class="bells-text">
              BELLS
            </li>
          </el-popover>
          <!--时令-->
          <div id="side_top">
            <el-tooltip v-for="(item, index) in data" :key="index" class="item" effect="dark" :content="item.name"
              placement="right">
              <li :class="(item==currentShowSeason?'active':'') + (item.playing?' playing':'')"
                @click="switchShowCurrentSeason(item)" @contextmenu.prevent="showMenuSeason(item)">{{item.name.substr(0,1)}}
              </li>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="添加时令" placement="right">
              <li class="icon icon-side-add" @click="addSeason()"></li>
            </el-tooltip>
          </div>
          <!--工具按钮-->
          <div id="side_bottom" class="side-bottom" style="position: absolute; bottom: 20px;">
            <!--音量-->
            <el-popover
              placement="top"
              trigger="click">
              <el-slider 
                v-model="playingMusicVolume"
                vertical
                height="130px"
                ></el-slider>
              <li slot="reference"  :class="'icon ' + (playingMusicVolume &gt; 0 ? 'icon-side-voice' : 'icon-side-muted')" 
                style="-webkit-mask-size: 26px;-webkit-mask-position-x: 18px;"></li>
            </el-popover>
            <el-tooltip class="item" effect="dark" content="帮助文档" placement="right">
              <li id="btn-help" class="icon icon-side-help" @click="showHelpWindow('')"></li>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="软件设置" placement="right">
              <li class="icon icon-side-cfg" @click="showMenuSettings"></li>
            </el-tooltip>
          </div>
        </ul>
      </div>
      <!--时间表区域-->
      <div id="left_area" :class="'left-area' + (getAppBackground()?' hasBackground':'')">
        <!--时钟-->
        <div id="time_area" class="time-area">
          <div id="clock"></div>
          <a href="#" @click="showDatePicker" :title="currentDateStr">{{currentDateStr}}</a>
          <el-date-picker ref="sideDatePicker" style="opacity: 0;height: 10px;" v-model="currentDate" type="date"
            placeholder="日期查看">
          </el-date-picker>
        </div>
        <!--时间表区域-->
        <div id="table_area" class="table-area">
          <div v-if="currentShowSeason" style="height: 100%;">
            <h3>{{ currentShowSeason.name }} 的时间表</h3>
            <!--没有时间表显示-->
            <div v-if="!currentShowSeason.tables || currentShowSeason.tables.length == 0" class="none-area">
              <label>
                当前时令没有时间表
              </label>
              <el-button class="mt-3" type="primary" @click="addTable()" round>添加时间表</el-button>
            </div>
            <!--时间表列表-->
            <happy-scroll v-else :color="leftAreaScrollColor" size="5" :resize="true" :hide-horizontal="true">
              <ul 
                class="timetable-area"
                @mouseenter="leftAreaScrollColor='rgba(0,0,0,0.2)'" @mouseleave="leftAreaScrollColor='rgba(0,0,0,0.05)'">
                <li v-for="(timetable,index) in currentShowSeason.tables" 
                  :data-status="timetable.status" 
                  @contextmenu.prevent="showMenuTable(timetable)"
                  @click="switchShowCurrentTable(timetable)"
                  :class="currentShowTable == timetable ? 'active' : ''">
                  <div class="status-info">
                    <div>
                      <h4>{{ timetable.name }}</h4>
                      <span>{{ timetable.note == '' ? (timetable.alwaysPlay ? '永远处于播放状态' : getPlayConditionString(timetable.playConditions)) : timetable.note }}</span>
                    </div>
                  </div>
                  <div class="status-icon">
                    <span></span>
                    <h4>{{ getTableStatusString(timetable) }}</h4>
                  </div>
                </li>
                <el-tooltip class="item" effect="dark" content="添加时间表" placement="top">
                  <li class="btn-add" @click="addTable()"></li>
                </el-tooltip>
              </ul> 
            </happy-scroll>
          </div>
          <!--没有选择时令显示-->
          <div v-else class="none-area">
            <label>这里没有时令<br><small>点击选中一个时令或点击右边的+添加一个时令，然后就可以添加管理时间表</small></label>
          </div>
        </div>
      </div>
      <!--主区域-->
      <div :class="'main-area-background' + (getAppBackground()?' hasBackground':'')"></div>
      <div id="main_area" class="main-area">
        <div class="task-area" id="task_area">
          <div v-if="currentShowTable" class="btn-area">
            <el-tooltip class="item" effect="dark" content="添加任务" placement="right">
              <div class="btn-round btn-icon-add" @click="addTask()"></div>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="设置时间表属性" placement="right">
              <div class="btn-round btn-icon-cfg" @click="currentEditTable=currentShowTable;editTable()"></div>
            </el-tooltip>
          </div>
          <div v-if="currentShowTable && currentShowTable.tasks.length > 0" class="info-area">
            当前列表共有 <span class="text-important">{{ currentShowTable.tasks.length }}</span> 条任务，
            已播放 <span class="text-important">{{ currentShowTable.playedTasks }}</span> 条。
          </div>
          <el-table
            v-if="currentShowTable && currentShowTable.tasks.length > 0"
            :height="mainTableHeight"
            :data="currentShowTable.tasks"
            :default-sort="{ prop: 'playConditions' }"
            @row-contextmenu="mainListItemRightClick"
            @row-dblclick="mainListItemDoubleClick"
            style="width: 100%;height: 100%;">
            <el-table-column
              label="状态"
              width="50">
              <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" 
                  :content="scope.row.getStatusString()" placement="right">
                  <div class="task-status" :data-status="scope.row.status"></div>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column
              label="名称"
              sortable
              prop="name">
            </el-table-column>
            <el-table-column
              label="播放条件"
              prop="playConditions"
              sortable
              :sort-method="mainTableSort"
              width="120">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span class="ml-2">{{ scope.row.getPlayConditionString() }}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="停止条件"
              sortable
              :sort-method="mainTableSort"
              width="120">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span class="ml-2">{{ scope.row.getStopConditionString() }}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="播放任务"
              width="150">
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="left" :title="scope.row.type">
                  <div v-if="!scope.row.commands || scope.row.commands.length == 0" class="text-secondary text-center">
                    无任务
                  </div>
                  <div v-else v-for="(item,index) in scope.row.commands" class="play-task-popover-item">          
                    <a @click="runCommandByUser(item)" :title="(scope.row.type=='执行命令'||scope.row.type=='关闭计算机')?'执行此命令':'播放音乐'" href="javascript:;">
                      <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                    <span>{{ item }}</span>
                  </div>
                  <div slot="reference" class="name-wrapper">
                    <span v-if="scope.row.type=='播放音乐'" class="task-tag"><i class="fa fa-music" aria-hidden="true"></i></span>
                    <span v-if="scope.row.type=='执行命令'" class="task-tag"><i class="fa fa-terminal" aria-hidden="true"></i></span>
                    <span v-if="scope.row.type=='关闭计算机'" class="task-tag"><i class="fa fa-power-off" aria-hidden="true"></i></span>
                    <span class="task-tag count">{{ scope.row.getCommandCount() }}</span>
                  </div>
                </el-popover>
              </template>
            </el-table-column>
          </el-table>
          <div v-else-if="currentShowTable" class="none-area">
            <label>当前时间表没有任务，您可以添加任务</label>
            <el-button class="mt-3" type="primary" @click="addTask()" round>添加任务</el-button>
          </div>
          <div v-else class="none-area">
            <label>没有打开的列表</label>
          </div>
        </div>
        <div v-show="musicPlayingListShow" id="music_player_area" class="music-player-area" id="music_area" v-show="!musicHistoryListShow">
          <div class="music-item">
            <el-tooltip class="item" effect="dark" content="隐藏播放控件" placement="left">
              <div class="btn-round btn-hide-ctl" @click="musicPlayingListShow=false"></div>
            </el-tooltip>
          </div>
          <div class="music-item">
            <el-tooltip class="item" effect="dark" content="打开音乐" placement="left">
              <div class="btn-round btn-add-music" @click="openAndPlayMusic()"></div>
            </el-tooltip>
          </div>
          <div class="music-item">
            <el-tooltip class="item" effect="dark" content="音乐列表" placement="left">
              <div class="btn-round btn-music-list" @click="musicHistoryListShow=true"></div>
            </el-tooltip>
          </div>
        </div>  
        <div v-show="!musicPlayingListShow" class="music-player-area-show-btn">
            <el-tooltip class="item" effect="dark" content="显示播放控件" placement="left">
              <div class="btn-round" @click="musicPlayingListShow=true"></div>
            </el-tooltip>
        </div>
      </div>

      <!--新手引导-->
      <div id="walkthrough-content" style="display:none">
        <div id="walkthrough-1">
          <h3>欢迎来到校园铃声自动播放系统</h3>   
          <p>这个小帮助将会带您了解校园铃声自动播放系统的大致界面操作</p>
          <p>让我们开始吧</p>
          <a href="javascript:;" onclick="main.closeTour()" style="font-size: 12px">跳过新手教程</a>
        </div>
        <div id="walkthrough-2">
          这里是时令栏，您可以在这里管理时令。
        </div>  
        <div id="walkthrough-3">
          这里是时间表栏，每个时令可以有许多子时间表，您可以在这里添加管理时间表。
        </div> 
        <div id="walkthrough-4">
          这里是时间表详细视图，您可以对时间表进行管理，或是添加、修改任务。
        </div> 
        <div id="walkthrough-5">
          这里是系统设置、音量调整菜单。
        </div>
        <div id="walkthrough-6">
          点击这里可以打开帮助文档哦！
        </div>
        <div id="walkthrough-7">
          这是音乐播放器，您可以在这里控制音乐的播放和进度等等。
        </div>
        <div id="walkthrough-8">
          <h3>现在，您可以尽情使用了！</h3>
          <p>您还可以在帮助文档中查找更多有关于软件的帮助</p>
          <a href="javascript:;" onclick="main.showHelpWindow('')" style="font-size: 12px">打开帮助文档</a>
        </div>
      </div>

      <!--对话框-->
      <!--退出对话框-->
      <el-dialog title="你是否真的要退出？" :visible.sync="showExitDialog" width="50%">
        <span>退出以后就不能自动播放铃声了！<br>除了退出，你还可以将本程序隐藏到托盘后台运行。</span>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="showExitDialog=false">不退出</el-button>
          <el-button type="success" @click="showExitDialog=false;closeWindow()">隐藏到托盘</el-button>
          <el-button @click="exit()">确定退出</el-button>
        </span>
      </el-dialog>
      <!--编辑时令对话框-->
      <el-dialog 
        :title="currentIsAddSeason?'添加时令':'编辑时令'" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :visible.sync="showEditSeasonDialog" 
        width="50%">
        <el-form v-if="currentEditSeasonBackup" ref="formEditSeason" :model="currentEditSeasonBackup" label-width="80px">
          <el-form-item label="时令名称">
            <el-input v-model="currentEditSeasonBackup.name" maxlength="6" show-word-limit></el-input>
          </el-form-item>
          <el-form-item label="时令播放时间">
            <el-tooltip class="item" effect="dark" content="是否不限制时间，如果不限制时间，那么该时令无论何时都会播放" placement="top">
              <el-checkbox v-model="currentEditSeasonBackup.playTime.always">不限时间</el-checkbox>
            </el-tooltip>
            <div v-if="!currentEditSeasonBackup.playTime.always"  style="padding: 5px 2px">
              <el-date-picker
                v-model="currentEditSeasonBackup.playTime.arr[0]"
                type="date"
                placeholder="选择起始日期"
                :format="currentEditSeasonBackup.playTime.testYear?'yyyy-MM-dd':'MM-dd'"
                style="display: inline-block; width: 150px">
              </el-date-picker>
              &nbsp;&nbsp;至&nbsp;&nbsp;
              <el-date-picker
                v-model="currentEditSeasonBackup.playTime.arr[1]"
                type="date"
                placeholder="选择结束日期"
                :format="currentEditSeasonBackup.playTime.testYear?'yyyy-MM-dd':'MM-dd'"
                style="display: inline-block; width: 150px">
              </el-date-picker>
            </div>
            <el-tooltip 
              class="item" effect="dark" content="是否限制年份，如果不限制年份则以月份为条件" placement="top">
              <el-checkbox v-model="currentEditSeasonBackup.playTime.testYear">限制年份</el-checkbox>
            </el-tooltip>
          </el-form-item>
          <el-form-item label="时令备注">
            <el-input type="textarea" v-model="currentEditSeasonBackup.note"></el-input>
          </el-form-item>
          <el-form-item label="是否启用">
            <el-switch v-model="currentEditSeasonBackup.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editSeasonFinish(false)">取消</el-button>
          <el-button type="primary" @click="editSeasonFinish(true)">保存</el-button>
        </span>
      </el-dialog>
      <!--编辑播放条件对话框-->
      <el-dialog 
        :title="currentIsAddCondition ? '添加播放条件':'编辑播放条件'" 
        :visible.sync="showEditConditionDialog" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        width="60%">
        <el-form v-if="currentEditConditionBackup" ref="formEditCondition" :model="currentEditConditionBackup" label-width="100px">
          <el-form-item label="条件与类型">
            <el-radio-group v-model="currentEditConditionBackup.type" size="medium">
              <el-radio-button v-for="(t,index) in currentEditConditionAllowTypes" :key="index" :label="t"></el-radio-button>
            </el-radio-group>
            <el-divider></el-divider>
            <div v-if="currentEditConditionBackup.type=='星期'">
              <el-select v-model="currentEditConditionBackup.week" style="width: 100px;" placeholder="请选择">
                <el-option v-for="item in weekLabels" :key="item.value" :label="item.label" :value="item.value"></el-option>
              </el-select>
            </div>
            <div v-else-if="currentEditConditionBackup.type=='日期'">
              <el-date-picker
                v-model="currentEditConditionBackup.datetime"
                type="date"
                placeholder="选择日期"
                style="width: 140px;"
                :format="currentEditConditionBackup.testYear ? 'yyyy-MM-dd' : 'MM-dd'">
              </el-date-picker>
              <br/>
              <el-tooltip class="item" effect="dark" content="是否限制年份，如果不限制年份则以月份为条件" placement="top">
                <el-checkbox v-model="currentEditConditionBackup.testYear">限制年份</el-checkbox>
              </el-tooltip>
            </div>
            <div v-else-if="currentEditConditionBackup.type=='星期区间'">
              
              <el-select v-model="currentEditConditionBackup.weekStart" style="width: 100px;" placeholder="请选择开始星期">
                <el-option v-for="item in weekLabels" :key="item.value" :label="item.label" :value="item.value"></el-option>
              </el-select>
              &nbsp;&nbsp;至&nbsp;&nbsp;
              <el-select v-model="currentEditConditionBackup.weekEnd" style="width: 100px;" placeholder="请选择结束星期">
                <el-option v-for="item in weekLabels" :key="item.value" :label="item.label" :value="item.value"></el-option>
              </el-select>

              <span 
                v-if="currentEditConditionBackup.weekStart==currentEditConditionBackup.weekEnd" 
                style="color: #db9411">
                <i class="fa fa-exclamation-triangle mr-2"></i> 
                您设置了两个相同的星期，这意味着该条件永远成立。
              </span>

            </div>
            <div v-else-if="currentEditConditionBackup.type=='日期区间'">

              <el-date-picker
                v-model="currentEditConditionBackup.dateStart"
                type="date"
                placeholder="选择起始日期"
                style="width: 150px;"
                :format="currentEditConditionBackup.testYear ? 'yyyy-MM-dd' : 'MM-dd'">
              </el-date-picker>
              &nbsp;&nbsp;至&nbsp;&nbsp;
              <el-date-picker
                v-model="currentEditConditionBackup.dateEnd"
                type="date"
                placeholder="选择结束日期"
                style="width: 150px;"
                :format="currentEditConditionBackup.testYear ? 'yyyy-MM-dd' : 'MM-dd'">
              </el-date-picker>

              <span 
                v-if="currentEditConditionBackup.dateStart==currentEditConditionBackup.dateEnd" 
                style="color: #db9411">
                <i class="fa fa-exclamation-triangle mr-2"></i> 
                您设置了两个相同的时间，这意味着该条件永远成立。
              </span>

              <br/>
              <el-tooltip class="item" effect="dark" content="是否限制年份，如果不限制年份则以月份为条件" placement="top">
                <el-checkbox v-model="currentEditConditionBackup.testYear">限制年份</el-checkbox>
              </el-tooltip>
            </div>
            <div v-else-if="currentEditConditionBackup.type=='时间'">
              <el-time-picker
                v-model="currentEditConditionBackup.datetime"
                placeholder="选择时间点">
              </el-time-picker>
            </div>
          </el-form-item>
          <el-form-item label="是否启用">
            <el-switch v-model="currentEditConditionBackup.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editConditionFinish(false)">取消</el-button>
          <el-button type="primary" @click="editConditionFinish(true)">保存</el-button>
        </span>
      </el-dialog>
      <!--编辑时间表对话框-->
      <el-dialog 
        :title="currentIsAddTable ?'添加时间表':'编辑时间表'"
        :close-on-click-modal="false"
        :close-on-press-escape="false" 
        :visible.sync="showEditTableDialog" width="70%">
        <el-form v-if="currentEditTableBackup" ref="formEditTable" :model="currentEditTableBackup" label-width="100px">
          <el-form-item label="时间表名称">
            <el-input v-model="currentEditTableBackup.name" maxlength="10" show-word-limit></el-input>
          </el-form-item>
          <el-form-item label="播放条件">
            使时间表永远处于播放状态：<el-switch v-model="currentEditTableBackup.alwaysPlay" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
            <div v-if="currentEditTableBackup.alwaysPlay" class="mt-2 mb-3 text-secondary">
              当前时间表在任何时间都为播放状态
            </div>
            <div v-else>
              <div v-for="(item, index) in currentEditTableBackup.playConditions" class="com-item">
                <el-switch v-model="item.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                <span>{{ item.getFriendlyString() }}</span>
                <el-button type="danger" class="btn" icon="el-icon-delete" @click="deleteCondition(item)" circle></el-button>
                <el-button type="primary" class="btn" icon="el-icon-edit" @click="editCondition(item, currentEditTableBackup.playConditions, ['日期','星期','星期区间','日期区间'])" circle></el-button>
              </div>
              <el-tooltip class="item" effect="dark" content="添加播放条件" placement="right">
                <div class="btn-add round" @click="addCondition(currentEditTableBackup, currentEditTableBackup.playConditions, ['日期','星期','星期区间','日期区间'])"></div>
              </el-tooltip>
            </div>
          </el-form-item>
          <el-form-item label="时间表备注">
            <el-input type="textarea" v-model="currentEditTableBackup.note"></el-input>
          </el-form-item>
          <el-form-item label="是否启用">
            <el-switch v-model="currentEditTableBackup.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editTableFinish(false)">取消</el-button>
          <el-button type="primary" @click="editTableFinish(true)">保存</el-button>
        </span>
      </el-dialog>
      <!--编辑任务对话框-->
      <el-dialog 
        :title="currentIsAddTask ?'添加任务':'编辑任务'" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :visible.sync="showEditTaskDialog" 
        width="70%">
        <el-form v-if="currentEditTaskBackup" ref="formEditTask" :model="currentEditTaskBackup" label-width="100px">
          <el-form-item label="任务名称">
            <el-input v-model="currentEditTaskBackup.name" maxlength="10" show-word-limit></el-input>
          </el-form-item>
          <el-form-item label="播放条件">
            <span class="text-secondary el-form-span">任务将会自动根据您设置的条件进行播放，这些条件以<b>“与”</b>的方式进行判断，并且对于任务，必须要有并且只有一个<a href="javascript:;" @click="showHelpWindow('')">精确时间条件</a>才能正常运行。</span>
            <div v-for="(item, index) in currentEditTaskBackup.playConditions" class="com-item">
              <el-switch v-model="item.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
              <span>{{ item.getFriendlyString() }}</span>
              <el-button type="danger" class="btn" icon="el-icon-delete" @click="deleteCondition(item)" circle></el-button>
              <el-button type="primary" class="btn" icon="el-icon-edit" @click="editCondition(item, currentEditTaskBackup.playConditions, ['时间','日期','星期','日期区间','星期区间'])" circle>
              </el-button>
            </div>
            <el-tooltip class="item" effect="dark" content="添加播放条件" placement="right">
              <div class="btn-add round" @click="addCondition(currentEditTaskBackup, currentEditTaskBackup.playConditions, ['时间','日期','星期','星期区间','日期区间'])"></div>
            </el-tooltip>
          </el-form-item>
          <el-form-item label="停止条件">
            <span class="text-secondary el-form-span">您可以为任务设置停止条件，如果任务在达到停止条件后，将会自动停止播放。这些条件以<b>“与”</b>的方式进行判断，并且对于任务，必须要有并且只有一个<a href="javascript:;" @click="showHelpWindow('')">精确时间条件</a>才能正常运行。</span>
            <div v-for="(item, index) in currentEditTaskBackup.stopConditions" class="com-item">
              <el-switch v-model="item.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
              <span>{{ item.getFriendlyString() }}</span>
              <el-button type="danger" class="btn" icon="el-icon-delete" @click="deleteCondition(item)" circle></el-button>
              <el-button type="primary" class="btn" icon="el-icon-edit" @click="editCondition(item, currentEditTaskBackup.stopConditions, ['时间','日期','星期','星期区间','日期区间'])" circle>
              </el-button>
            </div>
            <el-tooltip class="item" effect="dark" content="添加停止条件" placement="right">
              <div class="btn-add round" @click="addCondition(currentEditTaskBackup, currentEditTaskBackup.stopConditions, ['时间','日期','星期','星期区间','日期区间'])"></div>
            </el-tooltip>
          </el-form-item>
          <el-form-item label="任务操作">
            <el-radio-group v-model="currentEditTaskBackup.type" size="medium">
              <el-radio-button label="播放音乐"></el-radio-button>
              <el-radio-button label="执行命令"></el-radio-button>
              <el-radio-button label="关闭计算机"></el-radio-button>
            </el-radio-group>
            <el-divider></el-divider>
            <div v-if="currentEditTaskBackup.type=='播放音乐'">
              <el-input v-for="(item, index) in currentEditTaskBackup.commands" :key="index" placeholder="请输入音乐文件路径" v-model="currentEditTaskBackup.commands[index]" class="mt-1">
                <template slot="append">
                  <el-button size="mini" :disabled="index==0" icon="el-icon-top" @click="commandListMoveUp(index, currentEditTaskBackup.commands)" title="上移"></el-button>
                  <el-button size="mini" :disabled="index==currentEditTaskBackup.commands.length" icon="el-icon-bottom" @click="commanListMoveDown(index, currentEditTaskBackup.commands)" title="下移"></el-button>
                  <el-button size="mini" @click="chooseCommandMusicInList(index)">列表中选择</el-button>
                  <el-button size="mini" icon="el-icon-folder" @click="chooseCommandMusic(index, currentEditTaskBackup.commands)" title="选择文件"></el-button>
                  <el-button type="danger" size="mini" icon="el-icon-delete" title="删除" @click="deleteCommand(index, currentEditTaskBackup.commands)"></el-button>
                </template>
              </el-input>
              <el-tooltip effect="dark" content="添加音乐" placement="right">
                <div class="btn-add round" @click="addCommand(currentEditTaskBackup.commands)"></div>
              </el-tooltip>
              <el-divider content-position="left">音乐附加设置</el-divider>
              <el-form v-if="currentEditTaskBackup" ref="formEditTaskMusic" :model="currentEditTaskBackup" label-width="130px">
                <el-form-item label="音乐循环次数">
                  <span class="el-form-span">设置此参数以限制此任务的音乐循环播放次数，为 0 或 1 则不循环。</span><br/>
                  <el-input-number v-model="currentEditTaskBackup.musicLoopCount" size="small" style="width:130px" :min="0" :max="10"></el-input-number>
                </el-form-item>
                <el-form-item label="音乐音量" style="height: 76px">
                  <el-checkbox 
                    :checked="currentEditTaskBackup.musicVolume==-1"
                    @change="(c)=>{if(c)currentEditTaskBackup.musicVolume=-1;else currentEditTaskBackup.musicVolume=100;}"
                    >默认音量</el-checkbox>
                    <div style="padding: 5px 15px">
                  <el-slider 
                    v-if="currentEditTaskBackup.musicVolume>-1"
                    v-model="currentEditTaskBackup.musicVolume"
                    :min="0" :max="100"
                    ></el-slider>
                  </div>
                </el-form-item>
                <el-form-item label="音乐限制播放时间">
                  <span class="el-form-span">设置此参数以限制此任务的音乐播放最长时间，超时自动停止，为 0 则不限制。</span><br/>
                  <el-input-number v-model="currentEditTaskBackup.musicTimeLimit.hour" size="small" style="width:90px" controls-position="right" :min="0" :max="6"></el-input-number> : 
                  <el-input-number v-model="currentEditTaskBackup.musicTimeLimit.minute" size="small" style="width:90px"  controls-position="right" :min="0" :max="59"></el-input-number> : 
                  <el-input-number v-model="currentEditTaskBackup.musicTimeLimit.second" size="small" style="width:90px"  controls-position="right" :min="0" :max="59"></el-input-number>
                </el-form-item>
                <el-form-item label="音乐开始时间">
                  <span class="el-form-span">设置此参数以设置音乐开始播放的位置（仅用于只有一首音乐的情况，如果有多首音乐，
                    此选项不起作用），为 0 则默认从音乐开头开始播放。</span><br/>
                  <el-input-number v-model="currentEditTaskBackup.musicStartPos.hour" size="small" style="width:90px" controls-position="right" :min="0" :max="2"></el-input-number> : 
                  <el-input-number v-model="currentEditTaskBackup.musicStartPos.minute" size="small" style="width:90px"  controls-position="right" :min="0" :max="59"></el-input-number> :
                  <el-input-number v-model="currentEditTaskBackup.musicStartPos.second" size="small" style="width:90px"  controls-position="right" :min="0" :max="59"></el-input-number>
                </el-form-item>
              </el-form>
            </div>
            <div v-else-if="currentEditTaskBackup.type=='执行命令'">
              <span class="el-form-span">本软件将会以 CMD 来执行您的命令，你可以用此来启动某个程序。</span><br/>
              <el-input v-for="(item, index) in currentEditTaskBackup.commands" :key="index" placeholder="请输入命令" v-model="currentEditTaskBackup.commands[index]">
                <template slot="append">
                    <el-button size="mini" :disabled="index==0" icon="el-icon-top" @click="commandListMoveUp(index, currentEditTaskBackup.commands)" title="上移"></el-button>
                    <el-button size="mini" :disabled="index==currentEditTaskBackup.commands.length" icon="el-icon-bottom" @click="commanListMoveDown(index, currentEditTaskBackup.commands)" title="下移"></el-button>
                  <el-button type="danger" size="mini" icon="el-icon-delete" @click="deleteCommand(index, currentEditTaskBackup.commands)" title="删除"></el-button>
                </template>
              </el-input>
              <el-tooltip class="item" effect="dark" content="添加命令" placement="right">
                <div class="btn-add round" @click="addCommand(currentEditTaskBackup.commands)"></div>
              </el-tooltip>
            </div>
            <div v-else-if="currentEditTaskBackup.type=='关闭计算机'" class="text-secondary text-center" style="padding: 20px 0;">
              任务将执行关闭计算机的命令
            </div>
          </el-form-item>
          <el-form-item label="任务备注">
            <el-input type="textarea" v-model="currentEditTaskBackup.note"></el-input>
          </el-form-item>
          <el-form-item label="是否启用">
            <el-switch v-model="currentEditTaskBackup.enabled" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editTaskFinish(false)">取消</el-button>
          <el-button type="primary" @click="editTaskFinish(true)">保存</el-button>
        </span>
      </el-dialog>
      <!--列表中选择音乐对话框-->
      <el-dialog title="从列表中选择音乐" :visible.sync="showFastAddListMusicDialog" width="40%">
        <span v-for="(item, index) in musicHistoryList" :key="index" :title="item" class="task-tag cursor-pointer music-item-small" @click="setCommandMusic(chooseMusicCommandIndex,item);showFastAddListMusicDialog=false">{{ item }}</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addMusicsToHistoryList()">添加音乐到此列表</el-button>
          <el-button @click="showFastAddListMusicDialog=false">关闭</el-button>
        </span>
      </el-dialog>
      <!--关机对话框-->
      <el-dialog title="关机前准备" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :visible.sync="showShutdownDialog" 
        width="40%">
        定时关机任务已启动，系统将在 <span class="text-important">{{ shutdownTick }}</span> 秒后关机。<br/>
        在关闭计算机前请保存您的工作，或者您可以选择立即关机/取消关机。
        <span slot="footer" class="dialog-footer">
          <el-button @click="showShutdownDialog=false;executeShutdownNow()">立即关机</el-button>
          <el-button @click="showShutdownDialog=false;cancelShutdown()">取消关机</el-button>
        </span>
      </el-dialog>
      <!--设置管理员密码对话框-->
      <el-dialog :title="currentIsAddManagerPassword ? '添加管理员密码' : '设置管理员密码'" 
        :visible.sync="showEditManagerPasswordDialog" 
        :close-on-click-modal="false"
        :close-on-press-escape="false" 
        width="50%">
        <el-form ref="formPassword" :rules="currentIsAddManagerPassword ? managerPasswordAddRules : managerPasswordChangeRules" :model="managerPasswordEditor" label-width="80px">
          <el-form-item v-if="!currentIsAddManagerPassword" label="旧密码" prop="old">
            <el-input v-model="managerPasswordEditor.old" placeholder="请输入旧密码" show-password></el-input>
          </el-form-item>
          <el-form-item v-else>
            <span class="text-secondary el-form-span">该密码为以后您登录本软件、修改数据所必须的密码，丢失以后无法找回，请保存好密码</span>
          </el-form-item>
          <el-form-item label="新密码" prop="new">
            <el-input v-model="managerPasswordEditor.new" placeholder="请输入新密码" show-password></el-input>
          </el-form-item>
          <el-form-item label="确认密码" prop="newCheck">
            <el-input v-model="managerPasswordEditor.newCheck" placeholder="请再输入一次新密码" show-password></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editManagerFinish(true)">保存</el-button>
          <el-button @click="editManagerFinish(false)">取消</el-button>
        </span>
      </el-dialog>
      <!--设置对话框-->
      <el-dialog title="软件设置" 
        :visible.sync="showSettingsDialog" 
        :close-on-click-modal="false"
        :close-on-press-escape="false" 
        width="70%">

        <el-tabs v-model="settingsActiveTab" v-if="appSettingsBackup" style="margin-top: -25px;">
          <el-tab-pane label="全局" name="general">
            <el-form ref="formSettings" :model="appSettingsBackup" label-width="160px">
              <el-form-item label="软件主窗口标题">
                <el-input v-model="appSettingsBackup.appTitle" placeholder="软件主窗口标题，为空使用默认"></el-input>
              </el-form-item>
              <el-form-item label="阻止系统自动休眠">
                <el-switch v-model="appSettingsBackup.preventSleep" style="margin: 10px 0;"></el-switch><br>
                <span class="text-secondary el-form-span">您可以开启此选项阻止系统自动休眠，亦或者在操作系统的“电源选项”中将休眠时间设置为“从不”，来防止计算机自动休眠。<br><a href="javascript:;">了解更多关于阻止休眠的信息</a></span>
              </el-form-item>
              <el-form-item label="开机自动运行本程序">
                当前开机自动运行状态：<span class="text-important">{{ getAutoStartStatus() }}</span><br>
                <el-button type="primary" @click="switchAutoStart(true)" round>设置开机启动</el-button>
                <el-button type="info" @click="switchAutoStart(false)" round>取消开机启动</el-button>
                <br>
                <span class="text-secondary el-form-span"><i class="fa fa-exclamation-triangle mr-2" style="color: #db9411"></i> 某些安全软件可能会禁止开机启动，请您手动允许。</span>
              </el-form-item>
              <el-form-item label="同时允许的最大音乐播放数">
                <el-input-number v-model="appSettingsBackup.maxPlayingMusic" size="small" style="width:90px" controls-position="right" :min="1" :max="10"></el-input-number>
                <span class="text-secondary el-form-span">本软件支持同时播放多首音乐，但同时播放过多音乐容易造成混乱，建议设置该参数限制同时播放音乐的数量。</span>
              </el-form-item>
              <el-form-item label="本软件长时间无操作时自动隐藏">
                <el-switch v-model="appSettingsBackup.autoHide" style="margin: 10px 0;"></el-switch><br>
              </el-form-item>
              <el-form-item label="主窗口背景图片">
                <el-input laceholder="输入背景图片文件的路径" v-model="appSettingsBackup.appBackground">
                  <template slot="append">
                    <el-button size="mini" icon="el-icon-folder" @click="chooseImage({type:'chooseBackground'})">选择文件</el-button>
                    <el-button size="mini" icon="el-icon-delete" @click="appSettingsBackup.appBackground=''" title="清空背景"></el-button>
                  </template>
                </el-input>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="安全" name="security">
            <h4 class="m-0">保护系统数据免受他人的篡改</h4>
            <span class="text-secondary el-form-span">如果您所在播音工作室并非您一个人所控制，而您又不希望其他人可以修改自动播放数据，您可以开启此功能，保护数据安全。</span>
            <br>
            <el-switch
              style="margin: 10px 0;"
              v-model="appSettingsBackup.preventAnymouseUse"
              active-color="#13ce66"
              inactive-color="#ff4949"
              inactive-text="关闭保护"
              :active-text="(!appSettingsBackup.managerPassword || appSettingsBackup.managerPassword=='')?'您未设置管理员密码，无法开启保护':'保护已开启'">
            </el-switch>
            <el-button v-if="(!appSettingsBackup.managerPassword || appSettingsBackup.managerPassword=='')" class="float-right" @click="editManagerPassword(true)" type="primary"  round>设置管理员密码</el-button>
            <div v-else>
              <el-button @click="clearManagerPassword()" class="float-right ml-2" round>清除管理员密码</el-button>
              <el-button type="primary" @click="editManagerPassword(false)" class="float-right" round>修改管理员密码</el-button>
            </div>

            <h4 class="m-0 mt-3">本软件长时间无操作时自动锁定</h4>
            <el-switch v-model="appSettingsBackup.autoLock" style="margin: 10px 0;"></el-switch>
            <br/>超时时间：<el-input-number v-model="appSettingsBackup.autoLockMaxMinute" size="small" style="width:90px" controls-position="right" :min="1" :max="60"></el-input-number> 分钟
            
            <h4 class="m-0 mt-3">登录界面的说明文字</h4>
            <span class="text-secondary el-form-span">此说明文字将会被显示在登录界面上，您可以告知别人关于登录的信息。</span>
            <el-input
              type="textarea"
              class="mt-2"
              placeholder="请输入内容"
              v-model="appSettingsBackup.lockedNote"
              maxlength="50"
              show-word-limit>
            </el-input>

          </el-tab-pane>
          <el-tab-pane label="数据" name="data">

            <span class="text-important">关于数据导出与导入的说明：</span>
            <span>该功能存在一定风险，请认真阅读帮助文档以后再使用！</span><br>
            <a href="javascript:;" @click="showHelpWindow('import_and_export_data')">了解更多数据导出导入的信息</a>

            <br><br>
            <el-input
              type="textarea"
              rows="10"
              placeholder="无内容"
              v-model="testJSONData">
            </el-input>
            <div class="pt-2">
              <el-button @click="forceLoadJsonData()">导入数据</el-button>
              <el-button @click="displayJsonData()">导出数据</el-button>
            </div>

            <el-divider content-position="left"></el-divider>

            <h4 class="m-0 mb-2">自动保存数据周期</h4>
            <el-input-number v-model="appSettingsBackup.autoSaveDataMaxDay" size="small" style="width:90px" controls-position="right"  :min="1" :max="30" label="自动保存数据周期"></el-input-number>&nbsp;&nbsp;天
            
          </el-tab-pane>
          <el-tab-pane label="更新" name="update">
            <h4 class="m-0">自动更新软件</h4>
            <span class="text-secondary">我们可以在电脑联网的时候自动更新本软件，更新软件的好处是可以获得软件的功能性修复和新的功能。更新是默认开启的，如果您不希望自动更新，可将其关闭，但关闭以后无法获得一些软件的功能性修复，建议您仅仅在 LTS版 (长期支持版) 关闭更新功能。 </span><br>
            <el-switch
              style="margin: 10px 0;"
              v-model="appSettingsBackup.autoUpdate">
            </el-switch>
            <el-divider content-position="left">更新状态</el-divider>
            <h4 class="m-0">当前没有更新</h4>
            <span class="text-secondary">{{  }}</span>
          </el-tab-pane>
          <el-tab-pane label="关于" name="about">
            <div class="text-center">
              <img src="assets/images/logo128.png" />
              <div class="mt-3">
                <h5 class="mb-2">关于 校园铃声自动播放系统</h5>
                这是一款为中小学校播音工作室打造的一款可自动播放铃声、音乐的一款软件。
                <div class="mt-3 mb-3">
                  <a href="javascript:;" @click="showHelpWindow('')">打开帮助文档</a>
                </div>
              </div>
              <div>
                Copyright <i class="fa fa-copyright mr-2" aria-hidden="true"></i>2019 BY 梦欤. All rights reserved.
              </div>
            </div>
            <div class="mt-4">
              <div style="display: inline-block; width: 100px; text-align: right;">
                主版本 <br />
                编译日期 <br />
              </div>
              <div style="display: inline-block; width: 200px; text-align: left; padding-left: 5px">
                <span class="text-important" @click="toggleDeveloperMode">{{ appVesrsion }}</span><br />
                <span class="text-important">{{ appBuildDate }}</span><br />
              </div>
            </div>
            <el-divider content-position="left">框架信息</el-divider>
            <div v-if="process" class="mt-3">
              <div style="display: inline-block; width: 100px; text-align: right;">
                Node.js <br />
                Electron <br />
                Chromium <br />
                V8 <br />
                操作系统 <br />
              </div>
              <div style="display: inline-block; width: 200px; text-align: left; padding-left: 5px">
                <span class="text-important">{{ process.versions.node }}</span><br />
                <span class="text-important">{{ process.versions.electron }}</span><br />
                <span class="text-important">{{ process.versions.chrome }}</span><br />
                <span class="text-important">{{ process.versions.v8 }}</span><br />
                <span
                  class="text-important">{{ process.platform + ' ' + process.arch + ' ' + process.getSystemVersion() }}</span><br />
              </div>
            </div>

          </el-tab-pane>
        </el-tabs>

        <span slot="footer" class="dialog-footer">
          <el-button @click="editSetingsDef()" style="float: left">默认设置</el-button>
          <el-button type="primary" @click="editSetingsFinish(true)">保存设置</el-button>
          <el-button @click="editSetingsFinish(false)">取消</el-button>
        </span>
      </el-dialog>
      <!--登录帮助对话框-->
      <el-dialog title="登录帮助" :visible.sync="showLoginHelpDialog" width="60%">
        <div>如果您不是管理员，登录界面是为了防止其他人篡改自动播放数据而造成坏的影响而设置的，如果您看到此界面，则说明管理员不希望您修改自动播放数据，请咨询您的播音工作室管理员。</div>
        <div>如果您是管理员，您可以登录以后修改密码，或关闭保护功能。</div>
        <div>如果您是管理员，您忘记了管理员密码，请查看 <a href="javascript:;" @click="showHelpWindow('rec-password')">此帮助文档</a> 查找解决方案。</div>
        <br/><a href="javascript:;" @click="showHelpWindow('')">在帮助文档中查看更多</a>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="showLoginHelpDialog=false">关闭</el-button>
        </span>
      </el-dialog>
      <!--日志对话框-->
      <el-dialog title="系统日志" :visible.sync="showLogDialog" width="75%">
        <el-table
          :data="logShowPageData"
          style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="发生时间">
                  <span>{{ props.row.datetime }}</span>
                </el-form-item>
                <el-form-item label="等级">
                  <span>{{ props.row.level }}</span>
                </el-form-item>
                <el-form-item label="内容">
                  <span>{{ props.row.content }}</span>
                </el-form-item>
                <el-form-item label="所属模块">
                  <span>{{ props.row.modulname }}</span>
                </el-form-item>
                <el-form-item label="文件与行号">
                  <span>{{ props.row.fileline }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            label="发生时间"
            width="180">
            <template slot-scope="scope">
              <i class="el-icon-time"></i>
              <span style="margin-left: 10px">{{ scope.row.datetime }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="内容">
            <template slot-scope="scope">
              <i v-if="scope.row.level=='信息'" class="el-icon-info"></i>
              <i v-else-if="scope.row.level=='警告'" style="color:#db9411" class="el-icon-warning-outline"></i>
              <i v-else-if="scope.row.level=='错误'" style="color:#db2f11" class="el-icon-error"></i>
              <span style="margin-left: 10px">{{ scope.row.content }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="所属模块"
            prop="modulname"
            width="180">
          </el-table-column>
        </el-table>
        
        <span slot="footer" class="dialog-footer">
          <el-pagination
            background
            @size-change="handleLogPageSizeChange"
            @current-change="handleLogPageCurrentChange"
            :current-page.sync="logShowPageIndex"
            :page-sizes="[30, 50, 80, 100]"
            :page-size="logShowPageSize"
            layout="sizes, prev, pager, next"
            :total="logShowPageAll"
            style="float: left;"
            >
          </el-pagination>
          <el-button type="primary" @click="showLogDialog=false">关闭</el-button>
        </span>
      </el-dialog>
      <!--初次概览-->
      <el-dialog :visible.sync="showFirstIntroDialog" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        width="400px" 
        class="into-dialog">
        <h5>校园铃声自动播放系统</h5>
        <el-carousel height="410px">
          <el-carousel-item class="into-item">
            <img src="assets/images/into/0.jpg" /><br>
            <span>更方便、快捷地管理您的时间表数据</span>
          </el-carousel-item>
          <el-carousel-item class="into-item">
            <img src="assets/images/into/1.jpg" /><br>
            <span>全自动无人值守更省心</span>
          </el-carousel-item>
          <el-carousel-item class="into-item">
            <img src="assets/images/into/2.jpg" /><br>
            <el-button @click="closeIntroDialog()" type="primary">立即使用</el-button>
          </el-carousel-item>
        </el-carousel>
        <div class="bg"></div>
      </el-dialog>

      <!--侧栏音乐列表-->
      <el-drawer
        title="常用音乐列表"
        :visible.sync="musicHistoryListShow"
        size="40%"
        direction="rtl">
        <div style="padding: 15px">
          
          <el-tooltip  class="item" effect="dark" content="添加音乐" placement="right">
            <div v-if="musicHistoryList && musicHistoryList.length > 0" class="btn-add round" style="float:right;" @click="addMusicsToHistoryList()"></div>
          </el-tooltip>
          <span class="text-secondary">您可以添加一些常用的音乐在此列表中快速进行播放</span>

          <ul v-if="musicHistoryList && musicHistoryList.length > 0" class="music-list">
            <li v-for="(item, index) in musicHistoryList" :key="index">
              <span :title="item">{{ getFileName(item) }} </span>
              <div class="btn-round icon-delete" title="删除" @click="removeMusicFromHistoryList(item)"></div>
              <div class="btn-round icon-play" title="播放" @click="runCommandByUser(item);musicHistoryListShow=false"></div>
            </li>
          </ul>
          <div v-else style="display: flex;position: absolute;text-align: center;top: 0;left: 0;right: 0;bottom: 50px;justify-content: center;align-items: center;flex-direction: column;">
            <label>空空如也~ (‾◡‾)<br>这里一首音乐都没有</label>
            <el-button class="mt-3" type="primary" @click="addMusicsToHistoryList()" round>添加音乐</el-button>
          </div>
        </div>
      </el-drawer>
    </div>
  </div>
</body>

</html>